@{
    Layout = "~/Pages/AdminDashboardLayout.cshtml";
}
@using Final_LitchiLearn.Models
@model IEnumerable<Final_LitchiLearn.Models.AdminSubject>
<!DOCTYPE HTML>
<html>
    <head>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <style>     
        
    </style>
    </head>
    <body>
        <div class="landing-page"><!--Start of Nav Bar-->
  <div class="container">
        <div class="header-area">
      <div class="logo">LitchiLearn</div>
      <ul class="links">
        <li><a type="button" class="nav-link text-dark" asp-controller="Admin" asp-action="AdminDashboard" >  Home </a></li>      
        <li>Log Out</li>
      </ul>
    </div>
    </div>
    </div><!--End of Nav Bar-->
    @if (Model.Count() > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>            
                    <th>Subject Name</th>
                    <th>Subject Grade</th>
                    <th>Grade Head</th>            
                </tr>
            </thead>
            <tbody>
                @foreach (var subject in Model)
                {<tr>
                <td width="20%">@subject.SubjectName</td>
                <td width="20%">@subject.SubjectGrade</td>
                <td width="20%">@subject.SubjectGradeHead</td>
                <td width="20%"> <a asp-controller="Admin" asp-action="AdminEditSubjectChosen" asp-route-ID="@subject.SubjectID" class="btn btn-primary">Update Record</a></td>
                <td width="20%"> <a asp-controller="Admin" asp-action="AdminRemoveSubjectChosen" asp-route-ID="@subject.SubjectID" class="btn btn-danger w-75">Remove Record</a></td>
                    </tr>
            }

                
            </tbody>
        </table>
    }
    else
    {
        <p>No Items created yet</p>
    }
    <br />
        <div class = "row" >
        <div class="col-md-2">
         <label for="filter">Filter By:</label>
            <select name="filter" id="filterOption">
                <option value="default">Select Option</option>
                <option value="grade">Grade</option>
                <option value="gradehead">Grade Head</option>
                <option value="subname">Subject Name</option>
            </select>
        </div>
        <div class="col-md-2">
         <label for="filterOrder">Order:</label>
            <select name ="filterOrder" id="filterOrder">
                <option value="asc">ASC</option>
                <option value="desc">DESC</option>
            </select>
       </div>
       <div class="col-md-3">
           <button type="button">Generate Report</button>
       </div>
              
       </div>
        <hr />       

      @* <div class="row">
        <div class="col-sm-4">
        <div class="form-group"><!--Start of Subject Name Form-Group-->
            <label>Subject Name</label><br />
            <input type="text" name="firstname" id="firstname" required>
        </div><!--End of First Name Form-Group-->
        </div>
        <div class="col-sm-8">
        <div class="form-group"><!--Start of User Type Form-Group-->
            <label>Subject Grade</label><br />
            <select name="subgrade" id="subgrade">
                <option value="grade4">Grade 4</option>
                <option value="grade5">Grade 5</option>
                <option value="grade6">Grade 6</option>
                <option value="grade7">Grade 7</option>
            </select>
        </div> <!--End of User Type Form-Group-->
        </div>
    </div><!--End of Row-->
    <div class="row"><!--Start of Row-->
        <div class="col-sm-4">
        <div class="form-group"><!--Start of Second Name Form-Group-->
            <label>Grade Head</label><br />
            <select name="subgrade" id="subgrade">
                <option value="grade4">William Kleff</option>
                <option value="grade5">Pelor Yarn</option>
                <option value="grade6">Tasha Iggwilv</option>
            </select>
        </div><!--End of Second Name Form-Group-->
        </div>

        
   </div><!--End of Row-->
    <div class="row"><!--Start of Row-->        
        <div class="col-sm-4">
            <br /> <button type="button">Confrim Changes?</button> 
        </div>
        <div class="col-sm-8">
             <button type="button">Remove Record</button> 
        </div>
    </div><!--End of Row-->*@



    </body>

</html>