@{
    ViewData["Title"] = "Request Account Change";
    //Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    Layout = "~/Pages/AdminDashboardLayout.cshtml";

}
@using Final_LitchiLearn.Models
@using Microsoft.AspNetCore.Http
@model Final_LitchiLearn.Models.AccountRequestModel
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Dashboard"] - LitchiLearn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<body>

    <h4>Change Account Type</h4>

    <form method="post" asp-action="CreateAccountRequest">
    <div class="col">
        <div class="row">
        <div class="form">
            <!--Start of First Name Form-Group-->
           
            @{
                        string atEmail = "@gmail.com"; 
            }
                    <div class=col>
                        <div class="row">
                    <input asp-for="@Model.RequestUsername" class="form-control" value=@User.Identity.Name readonly />
                    </div>
                        <div class="row">
                    <input asp-for="@Model.Email" class="form-control" value="@User.Identity.Name@atEmail " readonly />
                    </div>
                        <div class="row">
                    <select asp-for="@Model.RoleChanged" class="form-control">                        
                        <option value="teacher">Teacher</option>
                        <option value="subCord">Subject Coordinator</option>
                        <option value="hod">HOD</option>
                        <option value="admin">Admin</option>
                    </select>
                    </div>
                        <div class="row">
                    <input type="hidden" asp-for="@Model.RequestStatus" value= "1" />
        </div>
        <div class="row">
                            <input type="submit" class="btn btn-info w-75" value="Create Account" />
                            
                        </div>

                    </div>
              
            </div><!--End of First Name Form-Group-->
        </div>






    </div>


    </form>
    </body>





</html>

           