@model IEnumerable<Final_LitchiLearn.Models.Quiz>
@{
    ViewData["Title"] = "Quiz";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="container">

    <p>
        <a asp-controller="Teacher" class="btn btn-primary" asp-action="CreateQuiz">Create A Quiz</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuizID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuizName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topics)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalMarks)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuizID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuizName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TopicID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalMarks)
                    </td>
                    <td>
                        <a asp-action="UpdateQuiz" asp-route-id="@item.QuizID">Edit</a> |
                      
                        <a asp-action="Delete" asp-route-id="@item.QuizID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
