@using Final_LitchiLearn.Models
@model IEnumerable<Final_LitchiLearn.Models.Topics>
@{
   
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Topic"] - LitchiLearn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<body>
    @if (Model.Count() > 0)
    {
        @foreach(var Topic in Model)
        {
            <a asp-controller="Teacher" asp-action="Update" asp-route-ID="@Topic.TopicID" class="btn btn-primary">Update</a>
            <a asp-controller="Teacher" asp-action="Delete" asp-route-ID="@Topic.TopicID" class="btn btn-danger">Delete</a>

            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            @Topic.TopicName
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                           @Topic.TopicDesc
                        </div>
                    </div>
                </div>

            </div>
        }
     
   
       @* <table class="table" style="width:100%">*@
           @* <thead>
                <tr>
                    <th>
                        TopicID
                    </th>
                    <th>
                        TopicName
                    </th>

                </tr>
            </thead>*@

         @*   <tbody>
                @foreach (var topic in Model)
                {
                    <tr>
                        <td width="35%">@topic.TopicName</td>

                        <td width="30%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Teacher" asp-action="Update" asp-route-ID="@topic.TopicID" class="btn btn-primary mx-1">Update</a>
                                <a asp-controller="Teacher" asp-action="Delete" asp-route-ID="@topic.TopicID" class="btn btn-danger mx-1">Delete</a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>*@
    }
    else
    {
        <p>No lessons yet. Stay tuned.</p>
    }

   
</body>
</html>
