@using Final_LitchiLearn.Models
@model List<Final_LitchiLearn.Models.UserRolesViewModel>
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Pages/AdminDashboardLayout.cshtml";
}
<h1>All Users</h1>

<div class="w-10 btn-group" style="color :#ff8c69" role="group"> <a asp-controller="UserRoles" asp-action="UserReportPDF" asp-route-ID="" class="btn btn-danger mx-1">Print TimeTable</a> </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {

            <tr>
                <td>
                    @user.UserName

                </td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>



            </tr>
        }
    </tbody>
</table>
