@{
    ViewData["Title"] = "RemoveRequest";
    Layout = "~/Pages/AdminDashboardLayout.cshtml";

}

@using Final_LitchiLearn.Models
@model List<Final_LitchiLearn.Models.AccountRequestModel>

@{

    string username = Model.FirstOrDefault().RequestUsername;
}

<h4>Remove Request</h4>
<hr />

<form method="post" asp-action="RemoveRequestPost">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>RequestID</th>
                <th>RequestUsername</th>
                <th>Email</th>
                <th>RoleChanged</th>
                <th>RequestStatus</th>

            </tr>
        </thead>

        <tbody>


            <input name="USERNAME" type="hidden" value="@username"/>
            @foreach (var userAccountModel in Model)
            {

                <tr>
                    <td width="10%">@userAccountModel.RequestID</td>
                    @*<input type="hidden" asp-for="@userAccountModel.RequestID" />*@
                    <td width="10%">@userAccountModel.RequestUsername</td>
                   @* <input type="hidden" asp-for="@userAccountModel.RequestUsername" />*@
                    <td width="10%">@userAccountModel.Email</td>
                    @*<input type="hidden" asp-for="@userAccountModel.Email" />*@
                    <td width="10%">@userAccountModel.RoleChanged</td>
                    @*<input type="hidden" asp-for="@userAccountModel.RoleChanged" />*@
                    <td width="10%">@userAccountModel.RequestStatus</td>



                </tr>

            }
        </tbody>

    </table>

    <div class="row">
        <!--Start of Row-->
        <div class="col-sm-6">
            <div class="form">
                <input type="submit" class="btn btn-info w-75" value="Confrim removal" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form">
                <a type="button" class="btn btn-danger w-75" asp-controller="UserRoles" asp-action="Index">Back </a>
            </div>
        </div>
    </div>
</form>

