@{
    @model IEnumerable<Final_LitchiLearn.Models.TimeTable>

    ViewData["Title"] = "Time Table";
    Layout = "~/Views/Student/_LayoutTimeTable.cshtml";

}
<div class="container p-3">
    <div class="row pt-5">
        <div class="col-7">
         <h2 class= "align-right" style="color :#ff8c69" >Time Table</h2>
        </div>
        <div class="col-6 text-right">
          
        </div>
    </div>
    <br />
@if (Model.Count() >0)
{
    <table>
        <thead>
            <tr>
                <th>
                    Subject Code
                </th>
                <th>
                    Day
                </th>
                <th>
                    Time
                </th>
                <th>
                   Venue
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var TimeTable in Model)
            {
                <tr>

                    <td width="35%">@TimeTable.SubjectID</td>
                    <td width="35%">@TimeTable.Subject</td>
                    <td width="35%">@TimeTable.Day</td>
                    <td width="35%">@TimeTable.Time</td>
                    <td width="35%">@TimeTable.Venue</td>
                   
                   
                     
                    
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p> Error Please contact a member of the Admin staff</p>
}
</div>