@model FileClass
@{
    Layout = null;
}

<form asp-controller = "Files" asp-action = "Index" method="post" enctype="multipart/form-data">
    <input type = "file" name="file" />
    <hr />
    <button type = "submit">Upload</button>


</form>

@if (Model != null)
{    <hr/>
    <table class="table table-bordered table-striped" cellpadding="0" cellspacing ="0" border = "1">
        <thead>
            <tr>
                <th>SL</th>
                <th>PDF Name</th>
                <th>Display Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FileClass file in Model.Files)
            {
                <tr>
                    <td>@file.FileID</td>
                    <td>@file.Name</td>
                    <td>
                        <a href = "../Files/Index?fileName=@file.Name" style="margin-right:10px;"></a>
                        <a href = "../Files/PDFViewerNewTab?fileName=@file.Name">@file.Name</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    
}

<br/><br/>

<embed id="embPDF" src="~/files//@Model.Name" style="width:100px; height:1200px;" />
@*<form method="post" enctype="multipart/form-data">

    <div class="form-row">
        <div class="form-group col-md-3">
            <label>File Name</label>
            <input class="form-control form-control-lg" placeholder="File Name"
                   asp-for="FileName" required />
        </div>
        <div class="form-group col-md-3">
            <label>Description</label>
            <input class="form-control form-control-lg" placeholder="Description"
                   asp-for="Description" required />
        </div>
        <div class="form-group col-md-3">
            <label>Attachment</label>
            <input class="form-control form-control-lg" placeholder="Middle Name"
                   asp-for="attachment" type="file" required />
        </div>
        <div class="form-group">
            <label>``</label>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </div>
    </div>
</form>


<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>File Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
             @if (Model != null)
             {
            
                @foreach (var row in Model.attachments)
                {
            <tr>
                <td> @row.id</td>
                <td> @row.FileName</td>
                <td> @row.Description</td>
                <td><a class="btn btn-primary" asp-action="GetAttachment" asp-controller="SubCO" asp-route-ID="@row.id">View</a></td>
                <td><a class="btn btn-primary" asp-action="GetFileStreamResultDemo" asp-controller="SubCo" asp-route-filename="@row.FileName">Download</a></td>
            </tr>
                }
           
             }

        </tbody>
    </table>
</div>
*@



